.navbar {
    position: absolute;
}

nav {
    width: 100%;
    top: 0;
    position: fixed;
    text-align: center;
}
#light nav {
    background-color: #CBC3E3;
    color: black;
  }
    
#dark nav {
    background-color: #280336;
    color: pink;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

li {
    display: inline;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
}
#light li {
    color: black;
}

#dark li {
    color: pink;
}