h1 {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 30vh;
    flex-direction: row;
}
h2 {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

#light .text-main {
    background-color: #f3ebf6;
    color: black;
  }
    
  #dark .text-main {
    background-color: #46045e;
    color: pink;
  }